* { margin:0; padding:0; }

html, body {
    height: 100%;
}

canvas {
  /*height: 100vh;
  width: 100vw;
  display: block;*/

    width: 100vw;
    height: 75vw; /* height:width ratio = 9/16 = .5625  */
    background: pink;
    max-height: 100vh;
    max-width: 133.33vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}
